/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.logo {
		width: 60px;
		outline: none;
	}
	.navbar {
		background-color: black;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		background-color: #343a40;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.logo {
		width: 80px;
		outline: none;
	}
	.navbar {
		background-color: black;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.logo {
		width: 80px;
		background-color: transparent;
		display: flex;
		margin: auto;
		outline: none;
		cursor: pointer;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.logo {
		width: 80px;
		display: flex;
		margin: auto
	}
}

.sidebar {
	background-color: white;
	width: 40%;
}

.img-container {
	background-color: #2F2F2F;
}

.sidebar-logo {
	width: 50%;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	margin: auto;
}

.sidebar-title {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
	border-bottom: 2px solid;
	cursor: pointer;
}

.sidebar-title:hover {
	transition: 0.5s;
	color: #e74c3c;
}

.menu-button {
	color: white;
	font-size: 20px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	border: 2px solid white;
	background-color: transparent;
	position: absolute;
	left: 20px;
	transition: 1s;
}

.menu-button-open {
	transition: 0.8s;
	left: 42% !important;
}

ul {
	list-style: none;
	margin: 30px 0 0 0;
}

ul li {
	display: inline-block;
	width: auto;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-right: 2rem;
	font-weight: bold;
	background-color: transparent;
}

.nav-link:hover {
	border-bottom: 4px solid;
	color: #e74c3c !important;
	transition: 0.2s;
	cursor: pointer;
	text-decoration: none;
}

.nav-link {
	color: #d9d9d9;
	outline: none;
	padding-bottom: 30px;
}

.active {
	border-bottom: 4px solid;
	color: #e74c3c !important;
}

.navbar-nav {
	display: flex;
	justify-content: center;
}

[class*="col-"] {
	/* For mobile phones: */
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
	.col-s-0 {width: 0%;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
